<configuration>
    <appSettings>
        <add key="FacebookAppId" value="your app id" />
        <add key="FacebookDisplayName" value="MvvmFirebaseDemo" />
		<add key="FacebookGrapRequestFields" value="first_name,last_name,name,email,gender,picture,locale" />
        <add key="FirebaseApplicationId" value="MvvmFirebaseDemo" />
        <add key="FirebaseAppiKey" value="your firebase api key" />
        <add key="FirebaseDatabaseUrl" value="your databse urk" />
        <add key="FirebaseSenderId" value="sender id" />
    </appSettings>
</configuration>